/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Fundo */
body {
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* Card */
.card {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
  width: 320px;
}

/* Botão */
button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 6px;
  font-size: 15px;
  transition: 0.2s;
}

button:hover {
  background-color: #cc0000;
}

/* Inputs */
input {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

/* QR Code */
#qrcode {
  margin-top: 15px;
  width: 200px;
  height: 200px;
  border: 2px solid #444;
  border-radius: 8px;
}

/* Status */
#status, #sendStatus {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
